.Banner{
    color: white;
    object-fit: contain;
    height: 430px;
}
.Banner-content{
    margin-left: 5rem;
    padding-top: 140px;
    height: 190px;
}
.Banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: .3rem;
}
.banner_description{
    font-size: 1rem;
    max-width: 450px;
    padding-top: 1rem;
    line-height: 1.3rem;
    height: 80px;
}
.Banner_button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    border-radius: .2rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(100, 95, 95,.8);
    transition:  all .3s;
}

.Banner_button:hover{
    color: #000;
    background-color: rgba(218, 206, 206,.5);
    transition:  all .3s;
}
.bottom-fade{
    
    height: 6.3rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,.61),#111);
}
