@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Vollkorn', serif;
}

html{
  font-size:62.5%;
}

:root{
  --primary-color:#2b81e4;
  --secondary-color:#eee;
  --white-color:#fff;
  --grey-color:#555;
  --l-grey-color:#777;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes letter-drop {
  0%{
    transform: translateY(0);
  }
  10%{
    transform: translateY(0);
  }
  15%{
    transform: translateY(-100%);
  }
  20%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(0);
  }
}


@keyframes balloon {
  0%{
    transform: translateZ(40rem);
    opacity: 1;
  }
  40%{
    transform: translateZ(-500rem) translateX(150rem);
    opacity: .9;
  }
  70%{
    transform: translateZ(-1500rem) translateX(800rem);
    opacity: .6;
  }
  80%{
    transform: translateZ(-50rem) translateX(80rem);
    opacity: .9;
  }
  100%{
    transform: translateZ(40rem);
    opacity: 1;
  }
}

@keyframes contact-bg {
  0%{
    background-color: #2b81e4;
  }
  25%{
    background-color: #b92be4;
  }
  50%{
    background-color: #e42b53;
  }
  75%{
    background-color: #e4942b;
  }
  100%{
    background-color: #e4e12b;
  }
}
