.home{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.home img{
    width: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
    margin-bottom: -150px;
    z-index: -1;
}

.home__row{
    display: flex;
    margin-bottom: -5px;
    padding: 10px 22px;
    z-index: 1; 
    align-items: center;
}